{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content>
        <meta http-equiv="X-UA-Compatible" content ="IE=edge" />
        <meta name="description" content="
        This Application maneges shifts of private school."
                                 >
                                 <title>PrivateSchoolWebApp</title>
                                 <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
                                 <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    </head>
    <body>
        <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
            <header class="bmd-layout-header">
                <div class="navbar navbar-light bg-dark navbar-dark mynav">

                    <button type="button" class="navbar-toggler" data-toggle="drawer" data-target="#dw-s1" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle drawer</span>
                        <i class="navbar-toggler-icon"></i>
                    </button>
                    <div class="d-none d-lg-block d-md-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/accounts/">Top</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/accounts/month/{% now "o/n" %}">シフト確認</a>
                            </li>
                            {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/accounts/upload">シフトアップロード</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated %}
                            {{ user.last_name }} {{ user.first_name }} 先生
                            {% else %}
                            ゲストユーザ
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="/accounts/login/">ログイン</a>
                            <a class="dropdown-item" href="/accounts/registration/">ユーザ登録</a>
                            {% else %}
                            <a class="dropdown-item" href="/accounts/logout/">ログアウト</a>
                            <a class="dropdown-item" href="/accounts/password_change/">パスワード変更</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            <div id="dw-s1" class="bmd-layout-drawer bg-faded">
                <header>
                    <a class="navbar-brand">Menu</a>
                </header>
                <ul class="list-group">
                    <a class="list-group-item" href="/accounts/">Top</a>
                    <a class="list-group-item" href="/accounts/month/{% now "o/n" %}">シフト確認</a>
                    {% if user.is_superuser %}
                    <a class="list-group-item" href="/accounts/upload">シフトアップロード</a>
                    {% endif %}
                </ul>
            </div>
            <main class="bmd-layout-content center" role="main">
                <div class="container-fluid">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                        {% block content %}{% endblock %}
                </div>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    </body>
</html>
