{% extends "accounts/base.html" %}
{% block content %}
<h1 class="h3 mb-3 font-weight-normal text-center">シフト確認</h1>
<div class="mt-3">
    <a href="{% url 'accounts:month' month.previous.year month.previous.month %}">前月</a>
    {{ month.current | date:"Y年n月" }}
    <a href="{% url 'accounts:month' month.next.year month.next.month %}">次月</a>
    <table class="table">
        <thead>
            <tr>
                {% for w in month.week_names %}
                <th>{{ w }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in month.days %}
            <tr>
                {% for day, shift in week %}
                {% if shift != "" %}
                <td class="table-info col-xs-7", style="width: 11vw; height: 65px; padding:.1rem;">
                {% else %}
                <td class="col-xs-7" style="width: 11vw; height: 65px; padding:.1rem;">
                {% endif %}
                <small>
                {% if month.current.month != day.month %}
                <div class="text-muted">{{ day | date:"j" }}</div>
                {% else %}
                {{ day.day }}
                {% endif %}
                </small>
                <p>
                <a href="/accounts/shift/{{ day | date:"o/n/j/" }}"style="font-size:60%;">{{ shift }}</a>
                </p>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
