.selector-for-some-widget {
  box-sizing: content-box;
}

form {
  display: block;
  margin-top:3em;
}

.form-sign {
  width: 100%;
  max-width: 90%;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  width: 400px;
}

.form-group {
  margin-bottom: 1rem;
  max-width: 90vw;
}

.form-control {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 30px;
}

.btn {
  max-width: 90vw;
}
